
@{
    ViewData["Title"] = "Hola";
}
@{ 
    
}

<h1>Hola mundo</h1>
<div>

    <h1>@ViewBag.Numero</h1>
    <h2>@ViewBag.Persona.id @ViewBag.Persona.nombre</h2>

    <h3>@Model.id @Model.apellido</h3>
</div>  